html,
body,
ul,
li,
h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1 img {
    display: block;
}

img {
    border: 0;
}

a {
    color: #FEFF00;
    text-decoration: underline;
}

.left {
    float: left;
}

.right {
    float: right;
}

.more {
    text-align: right;
}

.clear {
    clear: both;
}

body {
    background: #800000 0px 135px url() repeat-x;
    font: 12px arial, sans-serif;
    color: #F09361;
}

#emballage {
    background: url(images/modelportfolio_29.jpg);
}

#header {
    background: 6px 0 url(images/header_bg.gif) repeat-x;
}

h1 {
    height: 95px;
    color: #fff;
    font-weight: normal;
    font: 22px "harrow", "Lucida Grande", arial, sans-serif;
    line-height: 95px;
    text-indent: 23px;
    width: 400px;
}

h1 span {
    font-size: 30px;
}

#body {
    display: flex;
    justify-content: space-around;
    align-items: center;

} 

/*photo de profil*/
.imgprofil{
    width: 340px;
    height: 550px;
    background-color:#800000 ;
    box-shadow: 10px 18px rgb(106, 1, 1);
    border-radius: 15px;
}
.texte{
    width: 250px;
    height: 390px;
    background-color:#800000 ;
    box-shadow: 10px 18px rgb(106, 1, 1);
    border-radius: 15px;
    margin-right: -139px;
    color: black;
}
/* barre de navigation*/
#nav {
    background: url(images/nav_bg.gif) repeat-x;
    height: 40px;
    font-size: 17px;
    display: flex;
    justify-content:left;
    align-items: center;
}
#nav ul{
    width: 40%;
    display: flex;
    justify-content: space-between;
}
#nav select{
    width: 10%;
    display: flex;
    justify-content: space-between;
}

label{
   color: black;
   width: 10%;
   display: flex;
   
}

#content {
    background: #760202;
    border: 1px solid #6A0101;
    width: 426px;
    margin: 48px 28px 8px 28px;
}

#content .i {
    padding: 15px;
}

#content h2 {
    font: 16px "times new roman", serif;
    font-weight: normal;
    color: #fff;
    clear: both;
}

#content h2 strong {
    color: #FEFF00;
    font-weight: normal;
}

#content h2. {
    font-size: 12px;
}

#img {
    display: block;
}

#gallerie {
    margin-top: 5px;
    border: 1px solid #890202;
    background: #6A0101;
    padding: 5px;
    margin-right: 15px;
}

#gallery img {
    display: block;
}

#bigpic,
#gallery .smallpic {
    background: #9A0303;
    padding: 4px;
}

#bigpic {
    float: left;
}

#pica {
    margin: 0px 15px 15px 15px;
}

#picb {
    margin: 0px 0px 15px 5px;
}

#picc {
    margin: 0px 5px 5px 15px;
}

#picd {
    margin: 0px 0px 5px 15px;
}

.smallpic {
    float: left;
}

/* barre de progression de competence*/
.b3 {
    width: 550px;
    height: 200px;
    color: white;
    display: flex;
}

.b31 {
    display: flex;
    flex-direction: column;
}

.b311 {

    display: flex;
    flex-direction: column;
}

/*gestion du fouteur*/

#footer {
    display: flex;
    background: url(images/footer.gif) repeat-x;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.c1>img {
    margin: 30px;
    cursor: pointer;
}
.c2>input[type=micro] {
    background-image: url('images/microphone6.png');
    background-size: 20px;
    background-position: 100%;
    background-repeat: no-repeat;
    justify-content: space-between;
    border-radius: 5px solid white;
    background-color: #CC9933;
    color: white;
    width: 150px;
    height: 20px;
}

input[required placeholder=Google] {
    color: white;
}
